@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Exemplo3.Models.Fabricante>

@{
    ViewData["Title"] = "Index";
}

<h1>Fabricantes</h1>

<p>
    <button type="button" class="btn btn-outline-success">
        <a asp-action="Create">Adicionar Fabricante</a>
    </button>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <button type="button" class="btn btn-outline-info">
                        <a asp-action="Edit" asp-route-id="@item.FabricanteID">Edit</a>
                    </button>

                    <button type="button" class="btn btn-outline-info">
                        <a asp-action="Details" asp-route-id="@item.FabricanteID">Details</a>
                    </button>

                    <button type="button" class="btn btn-outline-danger">
                        <a asp-action="Delete" asp-route-id="@item.FabricanteID">Delete</a>
                    </button>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))
</div>